.banner {
  position: relative;
  width: 100%;
}

.banner-img {
  position: relative;
  width: 100%;
  height: 900px;
}
.banner-img::after {
  content: '';
  display: block;
  position: absolute;
  background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0) 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.banner .slick-arrow {
  position: absolute;
  top: calc(100% - 40px);
  bottom: 0;
  z-index: 3;
  background: var(--black-06) !important;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--black-12);
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: white;
}
.banner .slick-arrow:hover {
  background: var(--black-12) !important;
}

.banner .slick-arrow::before {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  object-fit: cover;
  background-size: contain;
}

.banner .slick-prev {
  left: 50px;
}

.banner .slick-prev::before {
  background-image: url('../assets//icons/iconPrevious.svg');
}

.banner .slick-next {
  right: 50px;
}

.banner .slick-next::before {
  background-image: url('../assets//icons/iconNext.svg');
}

.banner .slick-dots {
  bottom: 20px;
}
.banner .slick-dots li {
  width: 30px;
  height: 4px;
}
.banner .slick-dots li button:before {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.banner .slick-dots li button {
  width: 30px;
  border-radius: 4px;
  height: 4px;
  background: var(--black-20);
}
.banner .slick-dots li.slick-active button {
  background: var(--red-45);
}
.banner .slick-dots li button:before {
  content: '';
  display: none;
}
