@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #e50000;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* Custom */
    --text-primary: #aeb7c0;
    --bg-primary: #f1f5f9;
    --gray-primary: #eff2f7;
    --boxShadow-primary: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* Grey */
    --grey-60: #999999;

    /* Black */
    --black-06: #0f0f0f;
    --black-08: #141414;
    --black-10: #1a1a1a;
    --black-12: #1f1f1f;
    --black-15: #262626;
    --black-20: #333333;
    --red-45: #e50000;

    /* Gradient */

    --experiences-card: linear-gradient(222deg, rgba(229, 0, 0, 0.5) -208.03%, rgba(229, 0, 0, 0) 41.32%), #0f0f0f;
    --accordion-card: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, #e50000 16.67%, rgba(229, 0, 0, 0) 100%);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: #e50000;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    /* Custom */
    --text-primary: #aeb7c0;
    --bg-primary: #1e1e1e;
    --gray-primary: #313d4a;
  }
}

/* Background gradient */
.bg-linear-gradient {
  background: linear-gradient(to bottom, #191919, var(--black-08));
}

.bg-linear-gradient::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 50px;
  top: -20px;
  left: 0;
  right: 0;
  background: #191919;
  filter: blur(10px);
  opacity: 1;
  z-index: 1;
}

.bg-experiences-card {
  background: var(--experiences-card);
}

.bg-banner {
  height: 700px;
  width: 100%;
  object-fit: cover;
  background-position: 20px 0;
  padding-top: 50%;
  background-size: cover;
  background:
    linear-gradient(0deg, var(--black-08) 0%, rgba(20, 20, 20, 0) 100%),
    url(https://wallpapers.com/images/hd/2013-marvel-studios-movie-thor-hxua9tvc2z0ptxny.jpg) lightgray 50% / cover
      no-repeat;
  border-radius: 12px;
  border: 1px solid var(--black-15);
  border-bottom: none;
}

/* Carousel */
/* the slides */
.slick-slide > div {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}
/* Custom pagination ui mobile */

.slick-dots.slick-thumb {
  bottom: -40px;
}
.slick-dots.slick-thumb li {
  border-radius: 20px;
  margin: 0 !important;
}
.slick-dots.slick-thumb li button::before {
  background: white;
  width: 20px;
  height: 5px;
  font-size: 0;
}

.slick-dots.slick-thumb > .slick-active > button::before {
  background: var(--red-45);
}
